pdfplumber
pytesseract
pdf2image
langchain>=0.1.16
langchain-core>=0.1.45
langchain-community>=0.0.34
langchain-huggingface
langchain-google-genai>=1.0.0
faiss-cpu
sentence-transformers
transformers
accelerate
bitsandbytes
gradio
torch
torchvision
streamlit
