pdfplumber
pytesseract
pdf2image
langchain
langchain-community
langchain-huggingface
faiss-cpu
sentence-transformers
transformers
accelerate
bitsandbytes
gradio
torch
torchvision
streamlit
langchain-google-genai>=2.0.0
google-generativeai>=0.8.0
