pdfplumber
pytesseract
pdf2image
langchain
langchain-community<0.3.28
langchain-huggingface
faiss-cpu
sentence-transformers
transformers
accelerate
bitsandbytes
gradio
torch
torchvision
streamlit
langchain-google-genai
